[submodule "include/sokol"]
	path = include/sokol
	url = https://github.com/floooh/sokol.git
[submodule "include/flecs"]
	path = include/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "3rdparty/Nuklear"]
	path = 3rdparty/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
